mon diff_qwk_targetX
mon diff_qwk_targetXSlope
#mon diff_qwk_energy
mon diff_qwk_bpm3c12X
mon diff_qwk_targetY
mon diff_qwk_targetYSlope

det asym_qwk_mdallbars
#det asym_qwk_md1barsum
#det asym_qwk_md2barsum
#det asym_qwk_md3barsum
#det asym_qwk_md4barsum
#det asym_qwk_md5barsum
#det asym_qwk_md6barsum
#det asym_qwk_md7barsum
#det asym_qwk_md8barsum
#det asym_qwk_md9barsum
#det asym_qwk_dslumi1
#det asym_qwk_dslumi2
#det asym_qwk_dslumi3
#det asym_qwk_dslumi4
#det asym_qwk_dslumi6
#det asym_qwk_dslumi7
#det asym_qwk_dslumi8
#det asym_uslumi_sum
#det asym_uslumi1
#det asym_uslumi3
#det asym_uslumi5
#det asym_uslumi7
#det asym_qwk_pmtltg
#det asym_qwk_pmtonl
det asym_qwk_bcm1
#det asym_qwk_bcm2
#det asym_qwk_bcm5
#det asym_qwk_bcm6
#det asym_qwk_bcm7
#det asym_qwk_bcm8
