PROJECT: qweak
TRACK: analysis
JOBNAME: asym
OS: Linux64
MEMORY: 1800 MB
COMMAND:sh /u/home/jhoskins/QwAnalysis/Extensions/Regression/QwBeamModulation/asym.bash 11130 /u/home/jhoskins/QwAnalysis/ > asyml11130.out
OUTPUT_DATA: asym11130.out
OUTPUT_TEMPLATE:/u/home/jhoskins/QwAnalysis/Extensions/Regression/QwBeamModulation/log/asym11130.out
MAIL: jhoskins@jlab.org
