PROJECT: qweak
TRACK: analysis
JOBNAME: qwbeammod
OS: Linux64
MEMORY: 1800 MB
COMMAND:sh /u/home/jhoskins/QwAnalysis/Extensions/Regression/QwBeamModulation/bmod.bash 1235  > bmod.out
OUTPUT_DATA: bmod.out
OUTPUT_TEMPLATE:/u/home/jhoskins/QwAnalysis/Extensions/Regression/QwBeamModulation/bmod.out
MAIL: jhoskins@jlab.org
